/*@include font-face("ArimoRegular", 
		 font-files("../fonts/arimo-regular-webfont.woff", woff,
		 			"../fonts/arimo-regular-webfont.ttf", ttf),
		 			"../fonts/arimo-regular-webfont.eot", normal, normal);*/
@import "compass/css3/border-radius";
/*$green: #00FFB3;*/
/*$corall: #ff5D51;*/
@font-face {
  font-family: "ArimoRegular";
  src: url("../fonts/arimo-regular-webfont.eot");
  src: url("../fonts/arimo-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/arimo-regular-webfont.woff") format("woff"), url("../fonts/arimo-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #fff;
  color: #3d8299;
}
body h1, body h2, body h3, body h4, body h5, body h5, body p {
  font-family: "ArimoRegular";
}
body .blue-light-bkg {
  background-color: #149ecc;
}
body .blue-dark-bkg {
  /*opacity:0.9;*/
  background-color: #3d8299;
  color: #fff;
}
body .green-bkg {
  background-color: #4eeb9f;
}
body .white-bkg {
  background-color: #fff;
  color: #000;
}
body .nobottommargin {
  margin-bottom: 0 !important;
}
body #header-wrap {
  padding: 0;
}
body #header-wrap .logo-wrap {
  padding: 1em;
  display: inline-block;
}
body #header-wrap .logo-wrap img, body #header-wrap .logo-wrap figure {
  max-height: 60px;
}
body #header-wrap .navbar {
  margin-bottom: 0;
  min-height: 60px;
}
body #header-wrap .navbar ul {
  margin: 18px 0;
  padding: 0;
  float: right;
}
body #header-wrap .navbar ul li {
  list-style: none;
  float: left;
}
body #header-wrap .navbar ul li a {
  display: block;
  border-bottom: 3px solid #ff6d4f;
  line-height: 1.5em;
  margin-right: 0.2em;
  padding: 0.5em 0.7em;
  color: #3d8299;
}
body #header-wrap .navbar ul li a:hover, body #header-wrap .navbar ul li a:active, body #header-wrap .navbar ul li a.current {
  border-bottom: 3px solid #4eeb9f;
  text-decoration: none;
}
body .heading {
  text-align: center;
  min-height: 50px;
  color: #cc3c61;
  font-weight: 600;
}
body .form-wrap {
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  padding: 1.5em 1.2em;
  margin: 1em 0;
}
body .form-wrap .select2-container {
  min-width: 100%;
}
body .form-wrap .error-message {
  color: #cc3c61;
  left: 1em;
  margin-top: -0.2em;
  max-width: 80%;
  position: absolute;
  display: none;
}
body .form-wrap .error {
  border: 1px solid #cc3c61 !important;
}
body .form-wrap input[type=range] {
  width: 85%;
  padding-top: 1em;
  display: inline-block;
}
body .form-wrap output {
  position: absolute;
  width: 40px;
  height: 30px;
  text-align: center;
  color: #3d8299;
  display: inline-block;
  left: 0;
  margin-left: 0;
  font-size: 12px;
  top: 12px;
}
body .form-wrap label.check-label {
  color: #3d8299;
  font-weight: normal;
}
body .form-wrap select.form-control {
  height: 30px;
}
body .tabs-wrap, body .table-wrap {
  margin-top: 30px;
  padding: 0.5em 1.3em;
}
body .table-wrap td:nth-child(1) {
  color: #cc3c61;
}
body #map-wrapper {
  height: 500px;
}
body .text-wrap h4, body .text-wrap h5 {
  color: #3d8299;
}
body .text-wrap section {
  margin-top: 1em;
}
body .text-wrap section h4, body .text-wrap section h5 {
  margin-bottom: 0.2em;
}
body table {
  margin-top: 1em;
}
body table thead {
  color: #cc3c61;
}
body .edit-btn {
  position: absolute;
  top: 0;
  right: 1.5em;
}
body .edited, body .editable {
  border: 1px dashed #e8e8e8;
  border-radius: 3px;
  padding: 0.1em 0.3em;
  display: block;
  position: relative;
}
body .edited textarea, body .editable textarea {
  position: absolute;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  top: 0;
  left: 0;
}
body .edited {
  border: none;
}
